//Colors

$dark-blue: #141B41;
$Aanth-dark-blue: #222E50;
$light-blue: #306BAC;
$sea-blue: #007991;
$pastel-green: #A7CECB;
$light-green: #ACECA1;
$dark-green: #439A86;
$grey-green: #5D737E;
$dirty-white: #E5E5E5;

html, body {
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

//HOME

#home {
  height: 100%;
}

#home-cover{
  height: 100%;
  background-image: url("../Img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home-content-box{
  width: 100%;
  height: 100%;
  display: table;
}
#home-content-box-inner{
  display: table-cell;
  vertical-align: middle;
}
#home-heading{
  padding-bottom: 90px;
}
#home-heading h2 {
  color: $dirty-white;
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
#home-heading h3 {
  color: $dirty-white;
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}

#home-cover{
  animation-duration: .5s;
  animation-delay: .1s;
}

#home-heading{
  animation-duration: .5s;
  animation-delay: .5s;
}

#home-btn{
  animation-duration: .5s;
  animation-delay: .8s;
}

//TITLE
.content-box{
  padding: 80px 0 40px 0;
}
.content-title h3{
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
}

.content-underline {
  width: 50px;
  height: 3px;
  background-color: $sea-blue;
  margin: 0 auto 30px auto;
}

//ABOUT
#about-bg-diagonal{
  width: 60%;
  height: 700px;
  float: right;
  background-image: url("../Img/about3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-left: 200px solid white;
  border-top: 700px solid transparent;
}
#about-content-box{
  float: left;
  height: 700px;
}
#about-content-box-outer{
  width: 100%;
  height: 100%;
}
#about-content-box-inner{
  display: table-cell;
  vertical-align: middle;
}
#about .content-title h3{
  text-align: left;
}
#about .content-underline{
  margin: 0 0 30px 0;
}
#about-desc p{
  margin-bottom: 30px;
}

//BUTTON
.btn-general {
  border-width: 3px;
  border-radius: 3px;
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 700;
}

.btn-white {
  border-color: $dirty-white;
  color: $dirty-white;
}
.btn-white:hover, .btn-white:focus{
  background-color: $dirty-white;
  color: $light-blue;
}







//TIMELINE

$primary: #3F51B5;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;


.timeline {

  position: relative;

  &::before {
    content: '';
    background: $light-primary;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {

    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}

.timeline-card {
  padding: 0!important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {

  &:nth-child(2) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('../Img/about1.jpg') center center no-repeat;
      background-size: cover;
    }
  }

  &:nth-child(5) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3') center center no-repeat;
      background-size: cover;
    }
  }

  &:nth-child(6) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1471479917193-f00955256257') center center no-repeat;
      background-size: cover;
    }
  }

  &:nth-child(8) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a') center center no-repeat;
      background-size: cover;
    }
  }

  &:nth-child(10) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1447639703758-f525f36456bf') center center no-repeat;
      background-size: cover;
    }
  }

  &:nth-child(11) {
    .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1469429978400-082eec725ad5') center center no-repeat;
      background-size: cover;
    }
  }
}

.timeline-img-header {

  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $secondary-text;
  border-left-color: $primary;
  padding: 0 20px;
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {

  .timeline {

    &::before {
      left: 50px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item {

      &:nth-child(even) {

        .timeline-content {
          float: none;

        }
      }

      &:nth-child(odd) {

        .timeline-content {

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }

      }
    }
  }

}





//GALLERYY

.row.no-gutters [class*=col-]{
  padding-right: 0;
  padding-left: 0;
}
.img-wrapper{
  overflow: hidden;
}
.img-wrapper img{
  transition: transform .5s ease;
}
.img-wrapper img:hover{
  transform: scale(1.5);
  cursor: zoom-in;
}

//SPONSORS
.sponsor{
  padding: 40px 0;
}